
<div class="text-center d-flex justify-content-center text-align-center col-md-12 mt-5" id="bannerimage">
  <div class="welcome">
    <h1>Welcome to the Tech Blog</h1>
    <p>A space where you can blog and comment about tech.</p>
    <div class="landing-page-button-row text-center d-flex justify-content-center text-align-center mx-5 my-5">
      <a href="/profile" type="button" class="btn btn-dark btn-lg">Sign Up / Sign In</a>
      <a href="/theblog" type="button" class="btn btn-light btn-lg">See what's on The Blog</a>
    </div>
  </div>
</div>